@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: "Inter", sans-serif;
}


/*SUCCESS/NO SUCCESS POPUP STYLE  */
.notaccepted .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.notaccepted .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #ffff;
    width: 875px;
    height: 1105px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 22px;
    display: none;
}

.notaccepted .content img {
    padding-top: 100px;
}

.notaccepted .content h2 {
    margin-top: 2em;
    font-size: 48px;
    font-weight: 500;
}

.notaccepted .content p {
    font-size: 26px;
}

.parabutton {
    margin-top: 14em;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}

.parabutton a button {
    height: 60px;
    width: 345px;
    border-radius: 8px;
    background-color: #0066DD;
    color: #ffff;
    font-size: 28px;
    font-weight: 500;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
}

.parabutton a {
    color: #0066DD;
    text-decoration: none;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.notaccepted.active .overlay {
    display: block;
}

.notaccepted.active .content {
    display: block;
    transition: transform 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(0.8);
}

.accepted .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
    background: rgba(0, 0, 0, 0.7);
}

.accepted .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #ffff;
    width: 875px;
    height: 1105px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 22px;
    display: none;
}

.accepted .content img {
    padding-top: 100px;
}

.accepted .content h2 {
    margin-top: 2em;
    font-size: 48px;
    font-weight: 500;
}

.accepted .content p {
    font-size: 26px;
}



.parabutton a button {
    height: 60px;
    width: 345px;
    border-radius: 8px;
    background-color: #0066DD;
    color: #ffff;
    font-size: 28px;
    font-weight: 500;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
}

.parabutton a {
    color: #0066DD;
    text-decoration: none;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.accepted.active .overlay {
    display: block;
}

.accepted.active .content {
    display: block;
    transition: transform 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(0.8);
}

/* MAPEXPAND */
.mapexpand .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.mapexpand .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-image: url(./Assets/Mapexpand.png);
    width: 1381px;
    height: 763px;
    z-index: 2;
    text-align: end;
    box-sizing: border-box;
    border-radius: 15px;
    border-color: #ffff;
    border-width: 5px;
}

.mapexpand.active .overlay {
    display: block;
}

.mapexpand.active .content {
    transform: translate(-50%, -50%) scale(0.8);
}

/* DISTANCE TRAVELED */
.distancetraveled .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.distancetraveled .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-image: url(../PopupPage/Assets/TripHistory.png);
    width: 659px;
    height: 750px;
    z-index: 2;
    text-align: end;
    box-sizing: border-box;
    border-radius: 15px;
    border-color: #ffff;
    border-width: 5px;
}

.distancetraveled.active .overlay {
    display: block;
}

.distancetraveled.active .content {
    transform: translate(-50%, -50%) scale(0.8);
}

/* APPLY PROMO OR DISCOUT STYLE */
.aplypromo .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.aplypromo .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #ffff;
    width: 1200px;
    height: 1071px;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 15px;
    border-color: #ffff;
    border-width: 5px;
}

.topPromo {
    display: flex;
    font-size: 40px;
    font-weight: 500;
    margin: 0.5em;
}

.line {
    background-color: #AFB1B6;
    width: 1200px;
    height: 4px;
}

.topPromo a {
    text-decoration: none;
    margin-left: 14em;
    color: black;
}

.kotakkanSearch {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 23px;
    width: 1143px;
    height: 110px;
    margin-left: 1.7em;
    margin-top: 1em;
    display: flex;
}

form {
    display: flex;
    box-shadow: 0 0.1px 7px rgba(0, 0, 0, 0.5);
    width: 907.49px;
    height: 59.46px;
    margin-top: 1.5em;
    margin-left: 1.5em;
    border-radius: 9.12px;
}

input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 450px;
    margin-top: 5px;
}

form .ikonSearch {
    align-self: center;
    padding: 10px;
}

.butSearch {
    margin-left: 1em;
    width: 169.5px;
    height: 59.46px;
    border: none;
    outline: none;
    background-color: #0066DD;
    color: #ffff;
    border-radius: 8px;
    margin-top: 1.1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.butSearch:hover {
    background-color: #004080;
    color: #fff;
    cursor: pointer;
}

.available {
    width: 1143px;
    height: 244px;
    margin-left: 1.7em;
    margin-bottom: 3em;
}

.available h1 {
    font-size: 40px;
    font-weight: 500;
}

.kotak {
    border-radius: 15px;
    width: 1143px;
    height: 175px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.kotak h3 {
    font-size: 36px;
    font-weight: 400;
    padding-top: 0.1em;
    padding-left: 0.3em;
}

.kotak p {
    font-size: 30px;
    color: #AFB1B6;
    font-weight: 400;
    width: 1088px;
    height: 72px;
    padding-left: 0.3em;
    padding-bottom: 2em;
}

.parabutton2 {
    margin-top: 7em;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}

.parabutton2 a button {
    height: 60px;
    width: 490px;
    border-radius: 8px;
    background-color: #0066DD;
    color: #ffff;
    font-size: 28px;
    font-weight: 500;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
}

.parabutton2 a {
    color: #0066DD;
    text-decoration: none;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.parabutton2 button:hover {
    background-color: #004080;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.aplypromo.active .overlay {
    display: block;
}

.aplypromo.active .content {
    transform: translate(-50%, -50%) scale(0.8);
}

/* policy and others style */
.policyandother .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.policyandother .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #ffff;
    width: 1378px;
    height: 1033px;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 15px;
    border-color: #ffff;
    border-width: 5px;
    padding: 15px;
    overflow-y: auto;
}

.paragrafAtas {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 1em;
}

.poinpoin {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 1em;
}

.poinpoin li {
    font-weight: 400;
    margin-left: 1em;
}

.paragrafTengah,
.safeTrav {
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 1em;
}

.bestReg {
    font-weight: 400;
    font-size: 28px;
}

.policyandother .content a {
    bottom: 0;
    right: 0;
    color: #AFB1B6;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 49.5em;
}

.policyandother.active .overlay {
    display: block;
}

.policyandother.active .content {
    transform: translate(-50%, -50%) scale(0.8);
}