main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textkategori {
    display: flex;
    margin-top: 3em;
    justify-content: flex-start;
}

.textkategori h1 {
    font-size: 2em;
    color: #0066DD;
}

.jeniscar {
    justify-self: center;
    height: 30em;
    width: 70em;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: white;
    opacity: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    overflow: auto;
}

.jeniscar::-webkit-scrollbar {
    width: 0.5em;
}

.jeniscar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.jeniscar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.jenis-card {
    width: 45%;
    height: 40em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 2em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}


.jenis-card h2 {
    margin-left: 1em;
}

.jenis-card img {
    margin: 2em;
    width: 17em;
}

.jenis-card p {
    font-size: 1.3em;
    color: #AFB1B6;
    margin: 1em;
}

.jenis-card .garis {
    height: 0.1em;
    background-color: #AFB1B6;
    width: 100%;
}